:root {
    --slate-text: #022d3d;
    --lilac: #a291ec;
    --white: #fff;
}

body {
    background-color: #a9a9a9;
}

.navbar {
    background-color: var(--lilac);
}

.navbar h1 {
    display: inline-block;
    color: var(--white); 
    font-size: 2.0rem;   
    margin-left: 15px;
}

/* individual styling for the surname in the header */
.ln {
    color: var(--slate-text);
}

.navbar div {
    float: right;
    margin-right: 15px;
}
/* used similar code to make the navbar similar to the challenge 01 website  */
.navbar div ul {
    display: inline-block;
    list-style-type: none;
    font-size: 1.3rem;
    position: relative;
    top: 10px;
}

.links {
    background-color: var(--slate-text);
    padding: 10px;
    border-radius: 10px;
}

/* used the code from the mini project in week 2 to make the boxes and labels responsive and glow when hovered over */
.links:hover {
    box-shadow: inset 0 0 8px var(--white);
}

/* removes the blue hyperlink styling from the anchor links */
a {
    text-decoration: none;
    color: var(--white);
}

h2 {
    font-size: 3rem;
    color: var(--slate-text);
}

/* Placed banner directly on webpage to have scaleable width at all screen sizes */

.banner {
    width: 100%;
}

#about{
    display: flex;   
    margin-bottom: 5%;
    margin-left: 10%;
    justify-content: center;
}

.about-me img {
    position: relative;
    top: 23px;
    margin-left: 1%;
    height: max-content;
    width: max-content;
    border-radius: 20px;
}
.about-me p {
    position: relative;
    top: 23px;
    left: 35px;
    font-size: 1.2rem;
    color: var(--slate-text);
    margin-right: 5%;
}

#work-title, #about-me-title, #contact-me-title {
    text-align: center;
    border-bottom: dotted;
}

/* different spacing for this section to keep all the cards spaced and centered evenly */
.current-work{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}

/* common styling for all the cards */
.cards, #card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid var(--slate-text)
}
/* Unique styling for the main card due to larger size */
#card-1 {
    width: 1600px;
    height: 800px;
    border-width: 5px;
    border-radius: 20px;
    background-image: url(./images/chess-board.jpg);
}

#card-1:hover {
    box-shadow: inset 0px 0px 24px var(--lilac);
}

#card-1-label:hover, .label:hover {
    box-shadow: inset 0px 0px 8px var(--lilac) ;
}

/* all styling for the smaller cards*/
.cards {    
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-top: 1%;
    }

.cards:hover {
    box-shadow: inset 0px 0px 18px var(--lilac);
}

/* common styling for all the title labels on the smaller cards */
.label {
    color: var(--white);
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    background-color: var(--slate-text);
}

/* Unique for size for the labels on the larger card */
.label #chess, #chess-2 {
    font-size: 3rem;
}

#card-2{
    background-image: url(./images/gym-weight.jpeg);
}
#card-3{
    background-image: url(./images/boxer.jpg);
    }
#card-4{
    background-image: url(./images/stonks.jpg);
    }

#contact-me-title {
    margin-bottom: 0px;
}
footer {
    background-color: var(--lilac);
    padding-top: 80px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* Removed default styling for list, added margins to space out links evenly. */
footer ul li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style-type: none;
    bottom: 60px;
    font-size: 1.3rem;
    margin: 0 20px;
}
 
@media screen and (max-width: 992px) {
    footer ul li, .cards {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 768px) {
    footer ul li, .cards {
        display: flex;
        flex-direction: column;
        flex: 0 0 60%;
    }

}