:root {
    --slate-text: #022d3d;
    --lilac: #a291ec;
    --white: #fff;
}

body {
    background-color: #a9a9a9;
}

.navbar {
    background-color: var(--lilac);
}

.navbar h1 {
    display: inline-block;
    color: var(--white); 
    font-size: 2.0rem;   
    margin-left: 15px;
}
.ln {
    color: var(--slate-text);
}

.navbar div {
    float: right;
    margin-right: 15px;
}

.navbar div ul {
    display: inline-block;
    list-style-type: none;
    font-size: 1.3rem;
    position: relative;
    top: 10px;
}

.links {
    background-color: var(--slate-text);
    padding: 10px;
    border-radius: 10px;
}

.links:hover {
    box-shadow: inset 0 0 8px var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

.banner {
    width: 100%;
}
#about{
    display: flex;   
    margin-left: 10%;
    justify-content: center;
    height: 300px;
}

.about-me img {
    position: relative;
    top: 23px;
    margin-left: 1%;
    height: max-content;
    width: max-content;
    border-radius: 20px;
}
.about-me p {
    position: relative;
    top: 22px;
    left: 35px;
    font-size: 1.2rem;
    color: var(--slate-text);
    margin-right: 5%;
}

#work-title, #about-me-title, #contact-me-title {
    text-align: center;
    border-bottom: dotted;
}
.current-work{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}


.cards {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    border: solid var(--slate-text);
    border-radius: 20px;
    margin-top: 1%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards:hover {
    box-shadow: inset 0px 0px 18px var(--lilac);
}
.label {
    color: var(--white);
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    background-color: var(--slate-text);
}
.label #chess, #chess-2 {
    font-size: 3rem;
}
.label:hover{
    box-shadow: inset 0px 0px 8px var(--lilac);
}

#card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 800px;
    border: solid var(--slate-text);
    border-width: 5px;
    border-radius: 20px;
    background-image: url(./images/chess-board.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#card-1:hover {
    box-shadow: inset 0px 0px 24px var(--lilac);
}

#card-1-label:hover {
    box-shadow: inset 0px 0px 8px var(--lilac) ;
}
#chess {
    color: var(--white);
    text-decoration: none;
}
#card-2{
    background-image: url(./images/gym-weight.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card-3{
    background-image: url(./images/boxer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card-4{
    background-image: url(./images/stonks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

h2 {
    font-size: 3rem;
    color: var(--slate-text);
}
#contact-me-title {
    margin-bottom: 0px;
}
footer {
    background-color: var(--lilac);
    padding-top: 80px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
footer ul li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style-type: none;
    bottom: 60px;
    font-size: 1.3rem;
    margin: 0 20px;
}
 
@media screen and (max-width: 992px) {
    footer ul li, .cards {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 768px) {
    footer ul li, .cards {
        display: flex;
        flex-direction: column;
        flex: 0 0 60%;
    }

}